<section>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
    <a class="navbar-brand">
        <img src="./assets/logo-project.png" width="30" height="30" alt="" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/student">Student</a>
            </li>
        </ul>
    </div>
    </nav>
</section>

<main class="container-fluid">
    <router-outlet></router-outlet>
</main>